* {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 208, 207);
    box-sizing: border-box;
  }
  
  nav {
    padding: 50px;
    background-color: rgb(255, 208, 207);
  }
  
  .logoprin {
    border-radius: 50%;
    width: 50px;
  }
  
  .enlacesclass {
    background-color: rgb(255, 208, 207);
    list-style: none;
    margin: 20px auto;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    border-radius: 7%;
  
    li {
      display: inline-block;
  
      a {
        padding: 20px;
        margin: 10px;
        color: rgb(148, 123, 117);
        text-decoration: none;
        display: inline-block;
        transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
  
        &:hover {
          color: brown;
          background-color: lightpink;
          border-radius: 10%;
          animation: tenue 2s ease infinite; 
        }
      }
    }
  }
  
  @keyframes tenue {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(-15px);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-30px);
    }
  }

  
  .container {
    text-align: center;
  }
  
  body {
    background-color: rgb(251, 225, 224);
  }
  
  .centrado {
    position: absolute;
    opacity: 80%;
    border-radius: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    text-align: center;
  }
  
  .productos-principales {
    margin: 20px;
    padding: 30px;
  
    div {
      display: inline-block;
      text-align: center;
      margin: 70px;
      font-family: 'DM Sans', sans-serif;
    }
  }
  
  .galletaprin,
.regalosprin,
.tortaprin {
  position: relative;
  display: inline-block;
  text-align: center;

  img {
    width: 15rem;
    display: inline-block;
    border-radius: 10%;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

  
  .galletas-pages {
    margin: 20px;
    padding: 30px;
  }
  
  .galletas-pages-div {
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
  }
  
  .torta-de-galleta-pages {
    margin: 20px;
    padding: 30px;
  
    div {
      display: inline-block;
      text-align: center;
      margin: 10px;
      font-family: 'DM Sans', sans-serif;
    }
  }
  
  .torta-galleta-grande {
    width: 18rem;
    border-radius: 10%;
  }
  
  .caja-de-10-galletas-div,
  .caja-de-12-galletas-div,
  .caja-de-15-galletas-div,
  .caja-de-20-galletas-div,
  .galleta-monstruo-div,
  .monstruo-de-nutella-de-4-div,
  .heart-cookie-cake-div,
  .galleta-flor-gigante-div,
  .torta-galleta-peque-div {
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
  }
  
  .caja-de-10-galletas,
  .caja-de-12-galletas,
  .caja-de-15-galletas,
  .caja-de-20-galletas,
  .galleta-monstruo,
  .monstruo-de-nutella-de-4,
  .heart-cookie-cake,
  .galleta-flor-gigante,
  .torta-galleta-peque {
    width: 18rem;
    border-radius: 10%;
  }
  
  .donde-estamostext {
    font-family: 'DM Sans', sans-serif;
  }
  
  .carousel-inner {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .mapa {
    text-align: center;
  }
  
  .sobre-nosotrosdiv {
    float: left;
    margin: 10px;
  }
  
  .sobrenostext {
    font-family: 'DM Sans', sans-serif;
    overflow: auto;
    display: inline-block;
  }
  
  .dueña {
    width: 40rem;
    border-radius: 5%;
  }
  
  .menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
  }
  
  .menu-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
  
  .titps {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .productos {
    margin: 20px;
    padding: 30px;
  
    div {
      display: inline-block;
      text-align: center;
      margin: 10px;
      font-family: 'DM Sans', sans-serif;
    }
  }
  
  .galleta-individual,
  .caja3galletas,
  .caja6galletas,
  .caja10corazones {
    width: 18rem;
    border-radius: 10%;
  }
  
  .footer {
    background-color: rgb(255, 208, 207);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
  
    .whatslink,
    .iglink,
    .tiktoklink {
      text-decoration: none;
      font-family: 'DM Sans', sans-serif;
    }
  
    .whatsimg,
    .igimg,
    .tiktokimg {
      width: 4rem;
      border-radius: 30%;
    }
  }
  
  @media only screen and (min-width: 300px) and (max-width: 414px) {
    * {
      margin: 0;
      padding: 0;
      background-color: rgb(255, 208, 207);
    }
  
    .productos-principales div {
      display: inline-block;
      text-align: center;
      margin: 1px;
      font-family: 'DM Sans', sans-serif;
    }
  
    .galletaprin,
    .regalosprin,
    .tortaprin {
      position: relative;
      display: inline-block;
      text-align: center;
  
      img {
        width: 5rem;
        display: inline-block;
        border-radius: 10%;
      }
    }
  
    .centrado {
      position: absolute;
      opacity: 80%;
      border-radius: 10%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .productos div {
      display: inline-block;
      text-align: center;
      margin: 3px;
      font-family: 'DM Sans', sans-serif;
      max-width: 80px;
    }
  
    .galletas-pages {
      margin: 20px;
      padding: 4px;
    }
  
    .torta-de-galleta-pages {
      margin: 20px;
      padding: 4px;
    }
  
    .galleta-individual,
    .caja3galletas,
    .caja6galletas,
    .caja-de-10-galletas,
    .caja-de-12-galletas,
    .caja-de-15-galletas,
    .caja-de-20-galletas,
    .galleta-monstruo,
    .caja10corazones,
    .torta-galleta-grande,
    .torta-galleta-peque,
    .monstruo-de-nutella-de-4,
    .heart-cookie-cake,
    .galleta-flor-gigante {
      width: 5rem;
      border-radius: 10%;
    }
.g
  
    .mapa {
      border-radius: 10%;
    }
  
    .dueña {
      width: 22.8rem;
      border-radius: 5%;
    }
  
    .footer {
      max-height: 20px;
    }
    @media only screen and (min-width: 300px) and (max-width: 414px) {
        * {
          margin: 0;
          padding: 0;
          background-color: rgb(255, 208, 207);
        }
      
        .productos-principales div {
          display: inline-block;
          text-align: center;
          margin: 1px;
          font-family: 'DM Sans', sans-serif;
        }
      
        .galletaprin,
        .regalosprin,
        .tortaprin {
          position: relative;
          display: inline-block;
          text-align: center;
      
          img {
            width: 5rem;
            display: inline-block;
            border-radius: 10%;
          }
        }
      
        .centrado {
          position: absolute;
          opacity: 80%;
          border-radius: 10%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      
        .productos div {
          display: inline-block;
          text-align: center;
          margin: 3px;
          font-family: 'DM Sans', sans-serif;
          max-width: 80px;
        }
      
        .galletas-pages {
          margin: 20px;
          padding: 4px;
        }
      
        .torta-de-galleta-pages {
          margin: 20px;
          padding: 4px;
        }
      
        .galleta-individual,
        .caja3galletas,
        .caja6galletas,
        .caja-de-10-galletas,
        .caja-de-12-galletas,
        .caja-de-15-galletas,
        .caja-de-20-galletas,
        .galleta-monstruo,
        .caja10corazones,
        .torta-galleta-grande,
        .torta-galleta-peque,
        .monstruo-de-nutella-de-4,
        .heart-cookie-cake,
        .galleta-flor-gigante {
          width: 5rem;
          border-radius: 10%;
        }
      
        .mapa {
          border-radius: 10%;
        }
      
        .dueña {
          width: 22.8rem;
          border-radius: 5%;
        }
      
        .footer {
          max-height: 20px;
        }
      }
      
  }
  